[submodule "24-S1/MA1511/MA1511-Notes"]
	path = 24-S1/MA1511/MA1511-Notes
	url = https://github.com/mendax1234/MA1511-Notes.git
[submodule "24-S1/MA1511/MA1511-Cheatsheet"]
	path = 24-S1/MA1511/MA1511-Cheatsheet
	url = https://github.com/mendax1234/MA1511-Cheatsheet.git
[submodule "24-S1/CG1111A/CG1111A-Cheatsheet"]
	path = 24-S1/CG1111A/CG1111A-Cheatsheet
	url = https://github.com/mendax1234/CG1111A-Cheatsheet.git
[submodule "24-S1/CG1111A/CG1111A-Final-Project"]
	path = 24-S1/CG1111A/CG1111A-Final-Project
	url = https://github.com/mendax1234/CG1111A-Final-Project
[submodule "24-S1/LAF1201/LAF1201-Notes"]
	path = 24-S1/LAF1201/LAF1201-Notes
	url = https://github.com/mendax1234/LAF1201-Notes.git
